<div class="container">
  <h1>Your Orders</h1>
  <div class="card">
    <div class="card-body">
      <% if @orders.size == 0 %>
        <p>You do not have any existing orders, <%= link_to "make some", products_path %>!</p>
      <% else %>
        <% @orders.each do |order| %>
            <div class="card">
              <div class="card-body">
                <%= link_to(order, class: "text-dark text-decoration-none") do %>
                  <div>
                    <div class="row">
                      <div class="col-lg-9">
                        <p class="card-text mb-1">Order #: <%= order.stripe_session %></p>
                      </div>
                      <div class="col-lg">
                        <p class="card-text text-lg-right">Order Status: <%= order.status %></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg">
                        <p class="card-text">Order Total: <%= number_to_currency(order.total.to_d / 100) %></p>
                      </div>
                      <div class="col-lg">
                        <p class="card-text text-lg-right">Order Date: <%= order.created_at.strftime("%b %d, %Y") %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
