<h1>Order Invoice</h1>
<div class="card">
  <div class="card-head">
    <div class="container">
      <p>Sub-Total: <%= number_to_currency(@subtotal.to_d / 100) %></p>
      <% unless @gst.nil? %>
        <p>GST: <%= number_to_currency(@gst.to_d / 100) %></p>
      <% end %>
      <% unless @pst.nil? %>
        <p>PST: <%= number_to_currency(@pst.to_d / 100) %></p>
      <% end %>
      <% unless @hst.nil? %>
        <p>HST: <%= number_to_currency(@hst.to_d / 100) %></p>
      <% end %>
      <p>Total: <%= number_to_currency(@total.to_d / 100) %></p>
    </div>
  </div>
  <div class="card-body">
    <%= render partial: 'invoice_item',
          collection: @orderProducts,
          as: :orderProduct %>
  </div>
</div>

