<h1>
<% if @preOrder %>
  Order Summary
<% else %>
  Order Invoice
<% end %>
</h1>
<div class="card">
  <div class="card-head">
    <div class="container row">
      <div class="col-md">
        <p>Sub-Total: <%= number_to_currency(@subtotal.to_d / 100) %></p>
        <% unless @gst.nil? || @gst == 0 %>
          <p>GST: <%= number_to_currency(@gst.to_d / 100) %></p>
        <% end %>
        <% unless @pst.nil? || @pst == 0 %>
          <p>PST: <%= number_to_currency(@pst.to_d / 100) %></p>
        <% end %>
        <% unless @hst.nil? || @hst == 0 %>
          <p>HST: <%= number_to_currency(@hst.to_d / 100) %></p>
        <% end %>
        <p>Total: <%= number_to_currency(@total.to_d / 100) %></p>
      </div>
      <% if @preOrder %>
        <div class="col-md">
          <%= button_to checkout_create_path, method: :create, remote: true, class: "btn btn-primary" do %>
            Proceed to Payment
          <% end%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <%= render partial: 'invoice_item',
          collection: @orderProducts,
          as: :orderProduct %>
  </div>

</div>

