<%# <div class="col-md-3"> %>
  <div class="card">
    <div class="card-body">
      <% if product.image_med.present? %>
        <%= image_tag product.image_med, class: 'img-thumbnail float-left' %>
      <% end%>
      <h5 class="card-title"><%= link_to product.name, product%></h5>
      <p class="card-text"><strong>Our low price: </strong><%= product.price.to_d / 100 %></p>
      <p class="card-text"><%= product.description%></p>
      <p class="card-text"><strong>Category: </strong><%= product.category.name %></p>
    </div>
  </div>
<%# </div> %>